<div class="container">
        <div class="d-md-flex d-block flex-row mx-md-auto mx-0">

        <div class="card-show-img">
          <%= cl_image_tag @product.photo.key %>
        </div>


        <div class="card-show">
          <ul class="list-inline">
            <li>
              <a><h1><%= @product.title %></h1></a>
            </li>
            <li>
              <a> <%= humanized_money_with_symbol(@product.price) %> </a>
           </li>
            <li>
              <a><%= @product.description %></a>
            </li>
            <li>
              <a><%= @product.quantity %>
              </a>
            </li>
            <li>
              <a>
                <select for='styledSelect1' class='custom-select'>
                  <option value="0"  selected="selected">Size</option>
                  <option value="1" selected="selected">S</option>
                  <option value="2">M</option>
                  <option value="3">L</option>
                  <option value="4">XL</option>
                </select>
              </a>
            </li>
            <li>
              <a>
                <%= form_tag orders_path do %>
                  <%= hidden_field_tag 'product_id', @product.id %>
                  <%= submit_tag 'ADD TO CART', class: 'btn btn-flat' %>
                <% end %>
              </a>
            </li>
          </ul>
        </div>
      </div>
  </div>
</div>
